.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: #ffffff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #000000;
    font-size: 48px; 
    font-weight: 700; 
}

.log-out {
    display: flex;
    gap: 30px;
    margin: 15px auto;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #ffffff;
    background: #000000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
