.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 20px;
}

.add-team-btn {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #000000;
    background: #ffffff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

/*still need to style .calendar dk why it has extra space between calendar and sidebar*/